<rs-text-dialog></rs-text-dialog>
<div class="container">

    <div class="row" style="margin-top:2vh">

        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="form-header">
                <div class="text-center">Abertura do terminal</div>
            </div>
        </div>
        <div class="col-sm-1"></div>

    </div>
    
    <form>

        <div class="row" style="margin-top:10vh;">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">

                <div class="form-content">

                    <div class="form-group">
                        <label for="lastClosingDateTime">Data e hora do último fechamento :</label>
                        <input [ngModel]="form.lastClosingDateTime | date : 'dd/MM/yyyy HH:mm:ss' : 'UTC'" readonly="true"
                            tabindex="-1" type="text" class="form-control" id="lastClosingDateTime" name="lastClosingDateTime"> 
                    </div>

                    <div class="form-group">
                        <label for="lastClosingAmount">Valor total recolhido no fechamento :</label>
                        <input [ngModel]="form.lastClosingAmount | currency : 'BRL'" readonly="true"
                            tabindex="-1" style="text-align: right" type="text" class="form-control" id="lastClosingAmount" name="lastClosingAmount"> 
                    </div>

                    <div class="form-group">
                        <label for="openingDateTime">Data e hora da abertura :</label>
                        <input [ngModel]="form.openingDateTime | date : 'dd/MM/yyyy HH:mm:ss' : 'UTC'" readonly="true"
                            tabindex="-1" type="text" class="form-control" id="openingDateTime" name="openingDateTime"> 
                    </div>

                    <div class="form-group">
                        <label for="amountInSafe">Valor total existente no cofre :</label>
                        <input [ngModel]="form.amountInSafe | currency : 'BRL'"  readonly="true"
                            tabindex="-1" style="text-align: right" type="text" class="form-control" id="amountInSafe" name="amountInSafe"> 
                    </div>

                </div>

            </div>
            <div class="col-sm-3"></div>
        </div>

    </form>

    <div class="row" style="margin-top:20vh;">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <button id="btnConfirm" (click)="onConfirm()" type="button" class="btn btn-primary btn-block">Confirmar</button>
        </div>
        <div class="col-sm-4">
            <button id="btnCancel" (click)="onCancel()" type="button" class="btn btn-danger btn-block">Cancelar</button>
        </div>
        <div class="col-sm-2"></div>
    </div>        

</div>
